openoshi-lightboard/fp-info-cache
openoshi-lightboard/fp-lib-table
openoshi-lightboard/sym-lib-table
openoshi-lightboard/*-backups/
openoshi-lightboard/*-bak
openoshi-lightboard/*.kicad_prl
openoshi-lightboard/_autosave*
openoshi-lightboard/*.drl
openoshi-lightboard/*.lck
openoshi-lightboard/lib/*.bak
openoshi-lightboard/#auto_saved_files#
**/.DS_Store
